{% extends 'main/base.html' %}
{% load static %}
{% block title %}Main{% endblock %}
{% block content %}
      <div class="about_head">
      <h1>Рады приветствовать вас на нашем сайте!</h1>
      <p>&nbsp</p>
    </div>
    <div class="about_body">
      <p>&nbsp &nbsp Компания <em>“MediEval”</em> занимается организацией и проведением мероприятий, воссоздающих атмосферу средневековья. Мы предлагаем уникальные возможности для тех, кто хочет окунуться в атмосферу прошлых эпох, испытать на себе все прелести жизни в средние века.

        Наши услуги включают себя организацию рыцарских турниров, балов в средневековых замках, мастер-классов по старинным ремеслам, квестов на основе легенд и историй того времени. Также мы предлагаем услуги по прокату костюмов, оружия и аксессуаров, чтобы наши клиенты могли полностью погрузиться в мир средневековья.<br>

        Компания <em>“MediEval”</em> сотрудничает с лучшими историками и реконструкторами, чтобы обеспечить максимальную достоверность и аутентичность проводимых мероприятий. Мы стремимся сделать каждое событие незабываемым и оставить только положительные эмоции у наших клиентов.</p>
    </div>
{% endblock %}