{% extends 'main/base.html' %}
{% load static %}
{% block title %}FAQ{% endblock %}
{% block content %}
        <div class="faq_head"><h1>Часто задаваемые вопросы:</h1></div>
        <div class="faq">
              <p>&nbsp</p>
        <p>1.  &nbsp Сколько будет стоить организовать мероприятие? Цена организации мероприятия индивидуальна и складывается 
          из пожеланий заказщика, мы можем &nbsp сообщить ее по телефону после того как вы изложите свои пожелания.</p>
              <p>&nbsp</p>
        <p>2.  &nbsp Сколько займет организация мероприятия? Время огранизации мероприятия зависит от пожеланий заказщика. 
               Мы можем сообщить вам точную дату организации по телефону после того как вы сделаете заказ(организация
               мероприятия обычно занимает от 7 до 60 рабочих дней в зависимости от сложности работ).</p>
               <p>&nbsp</p>
        <p>3.  &nbsp На сколько человек расчитаны ваши мероприятия? Наши мероприятия организовываются в зависимости от ваших
               пожеланий следовательно количество человек на вашем мероприятии может быть любым.</p>
               <p>&nbsp</p>
        <p>4.  &nbsp Как происходит организация мероприятия? Организация происходит следующим образом: вы звоните нам или
               оставляете электронную заявку, далее наш консультант обсуждает с вами детали заказа, затем вы вносите
               предоплату и через определенный срок мы звоним вам с целью сообщить о готовности мероприятия.</p>
               <p>&nbsp</p>
        <p>5.  &nbsp Есть ли гарантия? Если мы не успеем в срок или качество мероприятия не будет соответствовать заявленному
               мы гарантируем возврат денежных средств. </p>
      </div>
   {% endblock %}